<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Reader AngularJS</title>
<link href="css\menu.css" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="book.html">Book</a></li>
		<li><a href="borrowing.html">Borrowing</a></li>
		<li><a class="active" href="reader.html">Reader</a></li>
	</ul>
	<h1 style="text-align: center;">List of Reader</h1>
</body>
</html>